
<section class="container">
  <h2>お知らせ</h2>
  <% @notifications.each do |notification| %>
  <div class="row" style="padding-bottom:5px;">
      <div class="col-xs-offset-2 col-xs-1">
        <%= link_to "#{chk_comment(notification)}", blog_path(notification.comment.blog, notification_id: notification.id),class:"btn btn-info btn-sm"  %>
      </div>
      <div class="col-xs-6" style="text-align:left">
        <%= notification.comment.user.try(:name) %>さんが
        あなたのブログ（<%= link_to "#{notification.comment.blog.title}", blog_path(notification.comment.blog, notification_id: notification.id) %>）にコメントしました。
      </div>
      <div class="col-xs-3">
        <%= notification.created_at %>
      </div>
  </div>
    <% end %>
</section>
